@font-face {
    font-family: 'gilroy-semibold';
    src: url('./fonts/gilroy-semibold.ttf');
    font-family: 'gilroy-medium';
    src: url('./fonts/gilroy-medium.ttf');
    font-family: 'gilroy-it';
    src: url('./fonts/gilroy-semibolditalic.woff2');
}

* {
    margin: 0;
    padding: 0;
}

/* формула центрирования контента по половине сетки, вместо див блока, который ниже закоментирован 
Дальше каждый блок котрый нужен центрировать - добовляем этот класс*/
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    ;
}

.link_menu {

    margin-top: 40px;
    color: #000;
    font-family: 'gilroy-medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    /* gap: 32px; */
    justify-content: space-between;
}

.link_menu .logo {
    display: flex;
    align-items: center;

}


.link_menu .text_logo {
    color: #000;
    font-family: 'gilroy-medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link_menu .text_logo2 {
    color: #F25822;
    font-family: 'gilroy-medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.centr_part {
    width: 1200px;
    margin: 0;
     margin-top: 155px;
     display: flex;
     justify-content: space-between;
     gap: 41px;
}
.flex_second{
    display: flex;
    gap: 41px;
    align-items: center;
}

.flex_start_end {
   
    /* width: 1170px; */
    display: flex;
    justify-content: space-between;
    gap: 41px;
    flex-direction: column;
    align-items: flex-end;
    
    
}

.position_flex {
    display: flex;
    gap: 12px;
    align-items: center;
}


.button_centre {
    /* Width: 543px;
    Height: 374px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    gap: 21px;
}

.text_button {
    /* width: 522px;
    height: 222px; */
    color: #000;
    font-family: 'gilroy-it';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_under {
    color: #888;
    font-family: 'gilroy-medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 22px;
}

.button_header {
    margin: 0;
    padding: 0;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.button_start {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(20, 13, 11, 0.2);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pictures_center {
    width: 544.814px;
    height: 374.843px;

}

.flex_centre_element {
    /* display: grid; */
    width: 1170px;
}


.button_play {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    color: #aaa;
}

.footer {
    width: 1920px;
    height: 243px;


}

.footer .log {
    display: flex;
    width: 1200px;
    padding-top: 97px;
    gap: 48px;
    margin-bottom: 96px;
}

.pictures_center_2 {
    width: 100%;
   
    position: relative;
}

.pictures_center_2>img {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 200%;
    height: 200%;
    z-index: -1;
}

.centre_3 {
    width: 1920px;
    height: 490px;
    /* padding-left: 400px; */
    display: flex;
    align-items: center;
}

.c3_element {
    width: 370px;
    height: 291px;
    background: #FFF;

    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.shadow_el {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.c3_element>div {

    margin-left: 30px;
}

.c3_element .el_0 {
    margin-top: 40px;
}

.c3_element .el_01 {
    color: #000;
    font-family: 'gilroy-it';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.c3_element .el_011 {
    color: #666;
    font-family: 'gilroy-it';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.c3_element .el_012 {
    color: #000;
    font-family: 'gilroy-it';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
    margin-bottom: 25px;
    margin-top: 25px;
}